{{assign title='Aksara'}}


{{#partial 'content'}}
<main id="aksara-page" class="page flex-col">
  <div class="flex flex-wrap items-start justify-center gap-4">
    <div class="flex flex-col  items-center justify-center w-96">
      <div class="block font-bold text-lg mt-3">Ina Ni Surat</div>
      <div class="flex flex-col flex-wrap max-h-96 gap-y-1 gap-x-6">
        {{toJson key='InaNiSurat' file='ina-ni-surat.json'}}
        {{#each InaNiSurat}}
        <div class="flex border">
          <div class="leading-8 px-2 min-w-12">{{@key}}</div>
          <div class="leading-8 border-l px-2 min-w-12 text-2xl font-batak" style="--content:'{{this}}'"></div>
        </div>
        {{/each}}
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex flex-col items-center justify-center">
        <div class="block font-bold text-lg mt-3">Anak Ni Surat</div>
        <div class="flex flex-col flex-wrap gap-1">
          {{toJson key='AnakNiSurat' file='anak-ni-surat.json'}}
          {{#each AnakNiSurat}}
          <div class="flex border">
            <div class="leading-8 px-2 min-w-56">{{@key}} / {{letter}}</div>
            <div class="leading-8 border-l px-2 min-w-12 text-2xl font-batak text-right" style="--content:'{{aksara}}'">
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="flex flex-col items-center justify-center">
        <div class="block font-bold text-lg mt-3">Tanda Baca</div>
        <div class="flex flex-col flex-wrap gap-1">
          {{toJson key='TandaBaca' file='tanda-baca.json'}}
          {{#each TandaBaca}}
          <div class="flex border">
            <div class="leading-8 px-2 min-w-32">{{@key}}</div>
            <div class="leading-8 border-l px-2 min-w-12 text-center">{{letter}}</div>
            <div class="leading-8 border-l px-2 min-w-12 text-2xl font-batak text-right" style="--content:'{{aksara}}'">
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="w-full p-2">
    <div class="font-bold text-lg my-3">Keterangan</div>
    <ol class="list-decimal pl-4">
      {{toAksara key='ContohAksara' file='contoh-aksara.json'}}
      {{#each ContohAksara}}
      <li class="pl-3">
        <div class="flex">
          <div class="flex flex-col">
            <div>{{description}}</div>
            <div class="flex flex-wrap gap-1 py-2">
              {{#each samples}}
              <div class="flex items-center justify-center border rounded-md">
                <div class="leading-10 border-l px-2 min-w-12 text-center">{{letter}}</div>
                <div class="leading-10 border-l px-2 min-w-12 text-2xl font-batak text-right"
                  style="--content:'{{aksara}}'">
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>

      </li>
      {{/each}}
    </ol>
  </div>
</main>
{{/partial}}

{{#partial 'scripts'}}

<script src="../../js/aksara.js" defer="defer"></script>
{{/partial}}

{{> layout}}